<section class="section">
    <div class="container advantages-container">
        
        <h2 class="section-title visually-hidden">Advantages</h2>
        
            <ul class="advantages-list">
                <li class="advantages-item">
                    <h3 class="advantages-title">01</h3>
                    <p class="advantages-paragraph">Swimming and water sports: try your hand at water skiing</p>
                </li>
                <li class="advantages-item">
                    <h3 class="advantages-title">02</h3>
                    <p class="advantages-paragraph">Fishing: try to catch your own dinner</p>
                </li>
                <li class="advantages-item">
                    <h3 class="advantages-title">03</h3>
                    <p class="advantages-paragraph">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water </p>
                </li>
                <li class="advantages-item">
                    <h3 class="advantages-title">04</h3>
                    <p class="advantages-paragraph">Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.</p>
                </li>
            </ul>

        <picture>
            <source srcset="./img/advantages-desk-1440.jpg 1x, ./img/advantages-desk-1440@2x.jpg 2x" media="(min-width: 1440px)" type="image/jpg">
            <source srcset="./img/advantages-desk-1280.jpg 1x, ./img/advantages-desk-1280@2x.jpg 2x" media="(min-width: 1280px)" type="image/jpg">
            <source srcset="./img/advantages-tab.jpg 1x, ./img/advantages-tab@2x.jpg 2x" media="(min-width: 768px)" type="image/jpg">
            <source srcset="./img/advantages-mob.jpg 1x, ./img/advantages-mob@2x.jpg 2x" media="(max-width: 767px)" type="image/jpg">

        <img src="./img/advantages-desk-1440.jpg" alt="advantages" class="radius advantages-image">
        </picture>
    </div>
</section>