<section class="section" id="rent">
  <div class="container rent-container">
    <div class="form-container">
      <h2 class="section-title rent-title">Rent a yacht now</h2>
      <form class="rent-form">
        <input
          type="text"
          name="input-user"
          class="form-input"
          id="user-input"
          placeholder="Full Name"
          required
        />
        <input
          type="email"
          name="input-email"
          class="form-input"
          id="email-input"
          placeholder="Email"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          required
        />
        <input
          type="tel"
          name="input-tel"
          class="form-input"
          id="phone-input"
          placeholder="Phone number"
          pattern="^\+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}$"
          required
        />
        <textarea
          name="input-comment"
          class="form-input comment-textarea"
          id="comment-textarea"
          placeholder="Comment"
        ></textarea
        ><button type="submit" class="main-btn send-btn">Send</button>
      </form>
    </div>

    <picture class="picture-container">
      <source
        srcset="./img/rent-desk-1440.png 1x, ./img/rent-desk-1440@2x.png 2x"
        media="(min-width: 1440px)"
        type="image/png"
      />
      <source
        srcset="./img/rent-desk-1280.png 1x, ./img/rent-desk-1280@2x.png 2x"
        media="(min-width: 1280px)"
        type="image/png"
      />
      <source
        srcset="./img/rent-tab.png 1x, ./img/rent-tab@2x.png 2x"
        media="(min-width: 768px)"
        type="image/png"
      />
      <source
        srcset="./img/rent-mob.png 1x, ./img/rent-mob@2x.png 2x"
        media="(max-width: 767px)"
        type="image/png"
      />
      <img
        src="./img/rent-desk-1440.png"
        alt="rent"
        class="radius rent-image"
      />
    </picture>
  </div>
</section>
