<section class="section" id="reviews">
  <div class="container">
    <div class="reviews-container">
      <h2 class="section-title reviews-title">
        YachtJet take pride in providing the best possible service and
        experience to our customers
      </h2>
      <p class="reviews-paragraph">
        Our customers have enjoyed unforgettable moments on our yachts. Don't
        just take our word for it - read on to find out what they have to say
        about their journey with us.
      </p>
    </div>

    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          srcset="./img/john-wax.png 1x, ./img/john-wax@2x.png 2x"
          src="./img/john-wax.png"
          alt="john-wax"
          class="reviews-image"
        />
        <h3 class="review-name-title">John Wax</h3>
        <p class="review-info">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </li>
      <li class="reviews-item">
        <img
          srcset="
            ./img/victoria-romashenko.png    1x,
            ./img/victoria-romashenko@2x.png 2x
          "
          src="./img/victoria-romashenko.png"
          alt="victoria-romashenko"
          class="reviews-image"
        />
        <h3 class="review-name-title">Victoria Romashenko</h3>
        <p class="review-info">
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </p>
      </li>
      <li class="reviews-item">
        <img
          srcset="./img/ihor-trachuk.png 1x, ./img/ihor-trachuk@2x.png 2x"
          src="./img/ihor-trachuk.png"
          alt="ihor-trachuk"
          class="reviews-image"
        />
        <h3 class="review-name-title">Ihor Trachuk</h3>
        <p class="review-info">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </li>
    </ul>
  </div>
</section>
