.footer {
  position: relative;
}

.footer-container {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);

  max-width: 355px;
  width: 100%;

  padding: 40px 30px 20px;
  background: #1b414b;
  border-radius: 24px 24px 0 0;
}

.footer-link-container {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;

  margin-bottom: 40px;
}

.footer-nav {
  display: flex;
  gap: 37px;
}

.footer-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #fbfbfb;
}

.footer-nav-list {
  display: flex;
  gap: 4px;
}

.footer-nav-link {
  min-width: 66px;

  background: rgba(251, 251, 251, 0.3);
  padding: 15px 12px;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: #1b414b;
  background: #fbfbfb;
}

.footer-social-list {
  display: flex;
  gap: 8px;
}

.footer-social-icon {
  fill: #fbfbfb;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: rgba(251, 251, 251, 0.8);
}

.footer-paragraph {
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;

  padding-right: 10px;
  padding-left: 10px;

  margin-bottom: 82px;
}

.privacy-list {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
}

.privacy-info {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}

@media (min-width: 768px) {
  .footer-container {
    top: 75px;

    max-width: 736px;

    padding: 50px 48px 20px;
  }

  .footer-link-container {
    gap: 0;
    justify-content: space-between;

    margin-bottom: 96px;
  }

  .footer-nav {
    gap: 106px;
  }

  .footer-logo {
    font-size: 20px;
  }

  .footer-nav-link {
    min-width: 91px;

    padding: 15px 25px;
  }

  .footer-social-list {
    margin-bottom: 0;
  }

  .footer-paragraph {
    font-size: 32px;

    padding-right: 15px;
    padding-left: 15px;

    margin: 0 auto;
    margin-bottom: 100px;
  }

  .privacy-list {
    gap: 32px;
  }

  .privacy-info {
    font-size: 14px;
    line-height: 1.18;
  }
}

@media (min-width: 1280px) {
  .footer-container {
    max-width: 1230px;

    padding: 50px 75px 20px;
  }

  .footer-nav {
    gap: 330px;
  }

  .footer-paragraph {
    max-width: 670px;
  }
}

@media (min-width: 1440px) {
  .footer-container {
    max-width: 1390px;
  }

  .footer-nav {
    gap: 410px;
  }
}
