.header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  max-width: 335px;
  width: 90%;

  background: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;

  padding-top: 12px;
  padding-bottom: 12px;
}

.header-btn {
  background: transparent;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 7px;
  padding-bottom: 7px;
}

.burger-icon {
  stroke: #1b414b;
}

@media (max-width: 767px) {
  .header-nav-list,
  .header-social-list {
    display: none;
  }
}

@media (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header {
    top: 32px;

    min-width: 704px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo {
    font-size: 20px;

    margin-right: 113px;
  }

  .header-nav-list {
    display: flex;
    gap: 4px;
  }

  .header-social-list {
    display: flex;
    gap: 8px;
  }

  .social-icon {
    fill: #1b414b;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-social-link:hover .social-icon,
  .header-social-link:focus .social-icon {
    fill: #062730;
  }
}

@media (min-width: 1280px) {
  .header {
    min-width: 1080px;
  }

  .header-logo {
    margin-right: 296px;
  }
}

@media (min-width: 1440px) {
  .header {
    min-width: 1240px;
  }

  .header-logo {
    margin-right: 375px;
  }
}
